#cloud-config
users:
  - name: crawler
    groups: users,admin,wheel
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ${ssh_key}
datasource:
  Ec2:
    strict_id: false
ssh_pwauth: no
ssh_authorized_keys:
  - ${ssh_key}
package_update: false
package_upgrade: false
packages:
  - nginx
runcmd: 
  - cd /home/crawler
  - git clone https://github.com/leapsky/bookspider.git
